@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #63d07c;
}

h1 {
  font-family: "Pacifico", cursive;
  position: relative;
  font-size: 4rem;
  margin: 1.5rem;
  color: #90ffc0;
  text-shadow: 5px 3px 0px #1fb375;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  border: solid white 1px;
  font-weight: 600;
  padding: 0.3rem;
  position: absolute;
  color: #b3281f;
  text-shadow: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 341px);
  column-gap: 2px;
  border: 10px solid #63d07c;
}

.empty {
  width: 341px;
  height: 80px;
  background-color: #63d07c;
  border: solid #63d07c 1px;
}
.puzzle {
  background-color: #63d07c;
  position: relative;
  width: 341px;
  height: 80px;
  cursor: pointer;
}

img {
  position: absolute;
}

/*.first,*/
/*.fifth,*/
/*.third {*/
/*  bottom: 0;*/
/*}*/

/*.first {*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*}*/

/*.third,*/
/*.sixth {*/
/*  right: 0;*/
/*}*/

/*.sixth,*/
/*.seventh,*/
/*.eighth {*/
/*  top: 0;*/
/*}*/

.hovered {
  background: #f4f4f4;
  border: dashed #ccc 1px;
}

.invisible {
  display: none;
}
